body {
    background-color: lightgoldenrodyellow;
    text-align: center;
    font-family: sans-serif;
    user-select: none;
}
#guitar {
    display: inline;
}
#guitar img {
   height: 50vh;

   margin-left: auto;
   margin-right: auto;
   margin-top: 50px;
   margin-bottom: 20px;
   border: 2px;
   border-radius: 50px;
}
#guitar img:hover {
    cursor: pointer;
}
#slider {
    margin: 10px;
    width: 40vw;
}
#speaker {
    height: 2vh;
}
#selector {
    margin-top: 20px;
}
#controls {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px;
    margin-top: 20px;
}
#bad-dude {
    transition: opacity 1.5s;
}
.button {
    display: inline;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 1.3em;
    font-weight: bold;
    cursor: pointer;
}
.unselected {
    background-color: white;
    color: black;
}
.unselected:hover {
    background-color: black;
    color: white;
}
.selected {
    background-color: black;
    color: white;
}
.hide {
    opacity: 0;
}
.unhide {
    opacity: 1;
}
