body {
    background-color: lightgoldenrodyellow;
    text-align: center;
    font-family: sans-serif;
}
#guitar {
    display: inline;
}
#guitar img {
   height: 50vh;

   margin-left: auto;
   margin-right: auto;
   margin-top: 100px;
   margin-bottom: 20px;
   border: 2px;
   border-radius: 10px;
}
#guitar img:hover {
    cursor: pointer;
}
#volume-slider {
    margin: 20px;
}
#speaker {
    height: 2vh;
    
}
#controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.unselected {
    display: inline;
    padding: 5px;
    border: 1px solid black;
    background-color: white;
    color: black;
    border-radius: 5px;
}
.unselected:hover {
    cursor: pointer;
    background-color: black;
    color: white;
}
.selected {
    background-color: black;
    color: white;
    display: inline;
    padding: 5px;
    border-radius: 5px;
}
.selected:hover {
    cursor: pointer;
}
.hide {
    display: none;
}
